.body {
    min-height: 3000px;
}
* {
    font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
    padding: 6rem;
    background-color: #e2edff;
}

#Portfolio {
    background-color: #e2edff;
    padding: 6rem;
}

section {
    padding: 6rem;
}